 <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h1>Top Colleges Admission Consultants – India USA UK Canada</h1>
         
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2><span><i class="icon-eye"></i></span> Why we exist</h2>
            <p>Our vision is to create an ecosystem of resources &amp; services that will help many deserving applicants get access to the opportunities that currently seem out of reach. </p>
            <p></p>
          </div>
          <div class="col-md-4">
            <h2><span><i class="icon-lamp"></i></span> Why the funny name?</h2>
            <p>Our flagship product allows applicants to <em>gaze into the future</em> and take corrective actions in the present. </p>
            <p></p>
          </div>
          <div class="col-md-4">
            <h2><span><i class="icon-users"></i></span> Our MBA Consultants</h2>
            <p>The pedigree of any advisory team can be judged by the calibre of its consultants. Our MBA admissions consultants have brands like Stanford, McKinsey &amp; Cambridge on their resumes.</p>
            <p></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
